<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello Word</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"
    />
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Electron and ejs template</p>
    <a href="https://github.com/ewriq">author</a> 
  </body>
</html>
